/* 整体 */
.container {
    width: 100%;
    /* border: 1px solid #000; */
    background-color: #F5F5F5;
}
/* 导航栏 */
header .nav {
    width: 100%;
    height: 50px;
    background-color: rgb(51, 51, 51);
    line-height: 50px;
    color:rgb(204, 204, 204);
    font-size: 12px; 
    position: relative;
}
/* 导航栏左侧滚动 */
header .nav .navleft {
    margin-left: 73px;
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 50px;
    /* border: 1px solid red; */
}
header .nav .navleft .contro {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    /* background-color: green; */
    position: absolute;
    top: 0;
    left: 0;
}
header .nav .navleft .contro .controls:hover {
    color: white;
}
/* 导航栏右侧文字 */
header .nav ul {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 135px;  
}
header .nav li {
    float:right;    
}
header .nav a {
    font-size: 12px;
    color:rgb(204, 204, 204);  
}
header .nav a:hover {
    color: white;
}
/* 导航栏手机 */
header .nav .phone {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    margin-right: 87px;
}
/* 导航栏二维码 */
header.nav .mask {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
} 
.mask::after {
    content: '';
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    top: -250px;
    right: 92px;
    transition: all 1s;
}
.mask:hover::after {
    background-image: url('./imgs/二维码.jpg');
    top: 50px;
}
/* 轮播图 */
/* 轮播图上类别 */
.banner .bannerTop {
    width: 1400px;
    height: 100px;
    /* border: 1px solid #000; */
    line-height: 100px;
    /* margin-left: 75px; */
    background-color: #fff;
    /* position: relative;
    left: 75px; */
}
/* logo */
.banner .bannerTop .logo {
    width: 205px;
    height: 100%;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    float: left;
    position: relative;
    left: 75px;
}
/* 图片 */
.banner .bannerTop .logo .img {
    float: left;
    width: 66px;
    height: 60px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    margin: 14px 0px 27px 0px;
    background-color: #1ABC9C;
}
.banner .bannerTop .logo .img img {
    width: 40px;
    height: 40px;
    margin: 12px;
}
/* 标题 */
.banner .bannerTop .logo .content {
    position: relative;
    width: 135px;
    height: 60px;
    float: right;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    margin: 14px 0px 27px 0px;
 
}
.banner .bannerTop .logo .content h1{
    position: absolute;
    top: -32px;
    left: 0;
    font-size: 28px;
    font-weight: bold;
    color: #999999
}
.banner .bannerTop .logo .content span {
    position: absolute;
    font-size: 14px;
    color: #BEBEBE;
}
/* 类别 */
.banner .bannerTop .category {
    position: relative;
    width: 600px;
    height: 63px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    float: left;
    margin: 14px 0px 27px 54px;
}
/* 清除浮动 */
.banner .bannerTop .category::after {
    display: block;
    content: '';
    visibility: hidden;
    height: 0px;
    clear: both;
}

.banner .bannerTop .category li a{
    height: 63px;
    float: left;
    color: #666666;
    margin-right: 24px;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    font-weight: bold;
}
/* 清除浮动 */
.banner .bannerTop .category li a::after {
    display: block;
    content: '';
    visibility: hidden;
    height: 0px;
    clear: both;
}

.banner .bannerTop .category li a:hover {
    color: #1ABC9C;
    border-bottom: 3px solid #1ABC9C;
}

/* 搜索 */
.banner .bannerTop .sel {
    width: 250px;
    height: 100px;
    float: left;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    position: relative;
}
.banner .bannerTop .sel input {
    position: absolute;
    width: 230px;
    height: 30px;
    border: 1px solid  #666666;
    top: 50%;
    margin-top: -8px;
    border-radius: 10px;
}
.banner .bannerTop .sel span {
    width: 20px;
    height: 20px;
    /* border: 1px solid #000; */
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 30px;
    color: #666666;
}
/* 购物车 */
.banner .bannerTop .cart {
    position: relative;
    width: 136px;
    height: 100%;
    float: left;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    color: #666666;

}
.banner .bannerTop .cart img {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #666666;
    top: 50%;
    margin-top: -4px;
}
.banner .bannerTop .cart span {
    position: absolute;
    left: 25px;
    top: 7px;
}
/* 详情*/
.solo {
    width: 1400px;
    height: 625px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    /* position: relative; */
    /* margin-top: 50px; */
    position: relative;
    background-color: #fff;
    padding-top: 50px;
    box-sizing: border-box;
    

}
/* 左边 */
.solo .left {
    width: 521px;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    float: left;
    /* position: relative; */
    /* background-color: #E4E4E4; */
    position: relative;
    left: 75px;
}
/* .solo .left .img {
    display: none;
} */
/* 衣服样板 */
.solo .left .cloths {
    width: 430px;
    height: 440px;
    /* border: 1px solid #000000; */
    background-color: #E4E4E4;  
}
.solo .left .cloths li{
    position: absolute;
    left: 0;
    top: 0px;
}
.solo .left .cloths li img {
    width: 100%;
    height: 100%;
}
/* 切换 */
.solo .left .imgs {
    position: absolute;
    right: 0;
    float: right;
    width: 80px;
    height: 420px;
    /* border: 1px solid #000; */
    top: 0px;
}
.solo .left .imgs li{
    position: absolute;
    width: 80px;
    height: 80px;
    /* border: 1px solid #000; */
    text-align: center;
    line-height: 80px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #E4E4E4;   
}
.solo .left .imgs li img {
    width: 40px;
    height: 40px;   
    /* border: 1px solid #000; */
    box-sizing: border-box;
}
.solo .left .imgs li:first-child {
    top: 0;
}
.solo .left .imgs img:first-child {
    top: 10px;
}
.solo .left .imgs li:nth-child(2) {
    top: 90px;
}
.solo .left .imgs img:nth-child(2) {
    top: 100px;
}
.solo .left .imgs li:nth-child(3) {
    top: 180px;
}
.solo .left .imgs img:nth-child(3) {
    top: 190px;
}
.solo .left .imgs li:nth-child(4) {
    top: 270px;
}
.solo .left .imgs img:nth-child(4) {
    top: 280px;
}
.solo .left .imgs li:nth-child(5) {
    top: 360px;
}
.solo .left .imgs img:nth-child(5) {
    top: 360px;
}
/* 销量收藏等 */
.solo .left .contro {
    width: 521px;
    height: 130px;
    /* border: 1px solid #000; */
}
/* 小标识 */
.solo .left .contro .title1 {
    width: 100%;
    height: 24px;
    /* border: 1px solid #000; */
    margin-top: 30px;
}
.solo .left .contro .title1 .img {
    display: block;
    float: left;
    width: 130px;
    height: 24px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    text-align: center;
    line-height: 24px;
}
/* 文字说明 */
.solo .left .contro .title2 {
    color: #999;
    font-size: 12px;
    width: 100%;
    height: 24px;
    /* border: 1px solid #000; */
}
.solo .left .contro .title2 .content1 {
    display: block;
    float: left;
    width: 130px;
    height: 24px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    text-align: center;
    line-height: 24px;
}
/* 数字显示 */
.solo .left .contro .title3 {
    color: #666;
    font-size: 14px;
    width: 100%;
    height: 24px;
    /* border: 1px solid #000; */
}
.solo .left .contro .title3 .content2 {
    display: block;
    float: left;
    width: 130px;
    height: 24px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    text-align: center;
    line-height: 24px;
}
/* 查看信息 */
.solo .left .contro .title4 {
    color: #666;
    font-size: 14px;
    width: 100%;
    height: 24px;
    /* border: 1px solid #000; */
}
.solo .left .contro .title4 .content3 {
    display: block;
    float: left;
    width: 130px;
    height: 24px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    text-align: center;
    line-height: 24px;
}

/* 右边 */
.solo .right {
    width: 678px;
    height: 100%;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    float: right;
    padding-left: 28px;
    position: relative;
    left: -75px;
}
.solo .right .title1 {
    width: 100%;
    height: 90px;
    /* border: 1px solid #000; */
} 
/* 第一行 */
.solo .right .title1 .title1_1 {
    width: 100%;
    height: 38px;
    /* border: 1px solid #000; */
    font-size: 18px;
    color: #666;
    font-weight: bold;
    line-height: 38px;
}
/* 秒杀价格 */
.solo .right .title1 .title1_1 .msprice {
    margin-left: 256px;
    font-size: 27px;
    color: #EA4C43;
}
.solo .right .title1 .title1_1 .msprice .money {
    font-size: 14px;
    font-weight: normal;
}
.solo .right .title1 .title1_1 .msprice .money1 {
    margin-left: -10px;
}
/* 商品价格 */
.solo .right .title1 .title1_1 .relprice {
    margin-left: 43px;
    font-size: 27px;
}
.solo .right .title1 .title1_1 .relprice .money {
    font-size: 14px;
    font-weight: normal;
}
.solo .right .title1 .title1_1 .relprice .line {
    text-decoration: line-through;
}
.solo .right .title1 .title1_1 .relprice .line .money1 {
    margin-left: -10px;
}
/* 第二行 */
.solo .right .title1 .title1_2 {
    width: 100%;
    height: 53px;
    /* border: 1px solid #000; */
    font-size: 16px;
    color: #999;
    line-height: 38px;
}
/* 秒杀价格 */
.solo .right .title1 .title1_2 .msprice {
    margin-left: 317px;
    font-size: 14px;
}
/* 商品价格 */
.solo .right .title1 .title1_2 .relprice {
    margin-left: 53px;
    font-size:14px;
}
/* 第三行 大红条 秒杀时间倒计时 */
.solo .right .title2 {
    width: 100%;
    height: 45px;
    background-color: #E67857;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    padding: 0px 13px 13px 18px;
    box-sizing: border-box;
    margin-bottom: 13px;
}
.solo .right .title2 .time {
    font-size: 20px;
}
.solo .right .title2 .more {
    margin-left: 206px;
}
.solo .right .title2 .gt {
    margin-left: -3px;
    font-weight: bold;
    font-size: 20px;
}
/* 第三行 领券 */
.solo .right .title3 {
    width: 100%;
    height: 45px;
    /* border: 1px solid #000; */
    line-height: 45px;
    padding: 0px 0px 13px 28px;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
}
/* 领券 */
.solo .right .title3 span:first-child {
    margin-left: -290px;
}
.solo .right .title3 .title3_1 {
    display: block;
    float: left;
    width: 87px;
    height: 20px;
    font-size: 12px;
    color: #EB4D4C;
    background-color: #FFCFD4;
    line-height: 20px; 
    position: relative;
    left: 40px;
    top: 13px;
    margin-right: 10px;
    border: 1px solid #F5A19F;
    box-sizing: border-box;
    text-align: center; 
}
.solo .right .title3 .img1 {
    position: relative;
    top: 6px;
    left: 87px;
}
.solo .right .title3 .img2 {
    position: relative;
    top: 6px;
    left: 166px;
}

.solo .right .title3 .img3 {
    position: relative;
    top: 6px;
    left: 246px;
}
/* 立即领取 */
.solo .right .title3 .title3_2 {
    position: relative;
    left: 300px;
    color: #11BD95;
    font-size: 12px;
}
/* 促销 */
.solo .right .title4 {
    width: 100%;
    height: 45px;
    /* border: 1px solid #000; */
    line-height: 45px;
    padding: 0px 0px 13px 28px;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
}
.solo .right .title4 span:last-child {
    font-size: 14px;
    color: #EB4D4C;
    position: relative;
    left: 6px;
}
/* 奖励 */
.solo .right .title5 {
    width: 100%;
    height: 45px;
    /* border: 1px solid #000; */
    line-height: 45px;
    padding: 0px 0px 13px 28px;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
}
.solo .right .title5 span:last-child {
    font-size: 14px;
    position: relative;
    left: 6px;
    color: #999;
}
/* 服务 */
.solo .right .title6 {
    width: 100%;
    height: 45px;
    /* border: 1px solid #000; */
    line-height: 45px;
    padding: 0px 0px 13px 28px;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
}
.solo .right .title6 .img {
    position: relative;
    left: 4px;
    top: 4px;
}
/* 了解详情 */
.solo .right .title6 .detail {
    position: relative;
    left: 35px;
    color: #11BD95;
    font-size: 12px;
}
/* 颜色 */
.solo .right .title7 {
    width: 100%;
    height: 95px;
    /* border: 1px solid #000; */
    line-height: 45px;
    padding: 0px 0px 13px 28px;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
    padding: 24px 0px 20px 0px;
    box-sizing: border-box;
}
.solo .right .title7 span:first-child {
    position: relative;
    left: -305px;
}
.solo .right .title7 .imgs {
    float: left;
    width: 332px;
    height: 51px;
    /* border: 1px solid #000; */
    position: relative;
    left: 65px;
}
.solo .right .title7 .imgs li {
    float: left;
    position: absolute;
    width: 51px;
    height: 51px;
    /* border: 1px solid #000; */
    /* background-color: orange; */
    background-color: #E4E4E4;
}
.solo .right .title7 .imgs li img {
    position: absolute;
    left: 10px;
    top: 15px;
}
.solo .right .title7 .imgs li:nth-child(1) {
    top: 0px;
    left: 0px;
}
.solo .right .title7 .imgs li:nth-child(2) {
    top: 0px;
    left: 70px;
}
.solo .right .title7 .imgs li:nth-child(3) {
    top: 0px;
    left: 140px;
}
.solo .right .title7 .imgs li:nth-child(4) {
    top: 0px;
    left: 210px;
}
.solo .right .title7 .imgs li:nth-child(5) {
    top: 0px;
    left: 280px;
}

/* 尺码 */
.solo .right .title8 {
    width: 100%;
    height: 45px;
    /* border: 1px solid #000; */
    line-height: 45px;
    padding: 0px 0px 13px 28px;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
    /* padding: 24px 0px 20px 0px; */
    box-sizing: border-box;
}
.solo .right .title8 .mars {
    width: 482px;
    height: 31px;
    /* border: 1px solid #000; */
    position: relative;
    top: -40px;
    left: 35px;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.solo .right .title8 .mars li {
    width: 80px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #E4E4E4;
    position: absolute;
}
.solo .right .title8 .mars li:nth-child(1) {
    left: 0px;
}
.solo .right .title8 .mars li:nth-child(2) {
    left: 100px;
}
.solo .right .title8 .mars li:nth-child(3) {
    left: 200px;
}
.solo .right .title8 .mars li:nth-child(4) {
    left: 300px;
}
.solo .right .title8 .mars li:nth-child(5) {
    left: 400px;
    background-color: #F2F2F2;
}
/* 数量 */
.solo .right .title9 {
    width: 100%;
    height: 45px;
    /* border: 1px solid #000; */
    line-height: 45px;
    padding: 0px 0px 13px 28px;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
    box-sizing: border-box;
}
.solo .right .title9 .num {
    width: 130px;
    height: 30px;
    border: 1px solid #E4E4E4;
    position: relative;
    top: -40px;
    left: 35px;
    text-align: center;
    line-height: 30px;
}
.solo .right .title9 .num span {
    display: block;
    width: 37px;
    height: 100%;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    float: left;
    color: #D1D1D1;
    font-weight: bold;
    font-size: 30px;

}
.solo .right .title9 .num span:nth-child(2) {
    width: 56px;
    color: #9A9A9A;
    font-size: 16px;
    font-weight: normal;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}
/* 加入购物车 立即购买 */
.solo .right .title10 {
    width: 100%;
    height: 45px;
    /* border: 1px solid #000; */
    line-height: 45px;
    padding: 0px 0px 13px 28px;
    box-sizing: border-box;
   
    font-size: 14px;
    box-sizing: border-box;
}
.solo .right .title10 .cart {
    width: 150px;
    height: 45px;
    line-height: 45px;
    /* border: 1px solid #000; */
    margin-left: -95px;
    color: #fff;
    background-color: #EE4548;
    border: 0px solid #000;
}
.solo .right .title10 .cart .img img{
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}
.solo .right .title10 .buy {
    width: 150px;
    height: 45px;
    line-height: 45px;
    /* border: 1px solid #000; */
    margin-left: 20px;
    color: #EE4548;
    border: 1px solid red;
    background-color: #fff;
}
/* 同类商品推荐 */
.cloth {
    width: 1200px;
    height: 400px;
    border: 1px solid #E4E4E4;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #fff;
    padding-bottom: 40px;
}
.cloth .t {
    width: 1200px;
    height: 50px;
    /* border: 1px solid #000; */
    line-height: 50px;
}
.cloth .t .head {
    font-size: 16px;
    color: #999;
    padding-left: 20px;
    box-sizing: border-box;
}
/* 服装 中间图文 */
.cloth .box {
    width: 100%;
    height: 238px;
    /* border: 1px solid red; */
    padding: 20px 66px 0px 66px;
}
.cloth .box .square {
    width: 230px;
    height: 328px;
    float: left;
    margin-right: 50px;
    text-align: center;
    color: #656565;
    text-align: center;
    border: 1px solid #E4E4E4;
    background-color: #fff;

}
.cloth .box .square:last-child {
    margin-right: 0px;
}
/* square 里面第一部分部分布局*/
.cloth .box .square .img1 img {
    margin-top: 0px;
}
.cloth .box .square .title11 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}
.cloth .box .square .title12 {
    margin-top: 10px;
    font-size: 14px;
}
/* 立减200元 */
.cloth .box .square .price1 {
    width: 55px;
    height: 55px;
    background-color: #F04845;
    border-radius: 50%;
    text-align: center;
    /* line-height: 60px; */
    font-size: 14px;
    color: white;
    position: relative;
    top: 30px;
    left: 140px;
}
/* square 里面第二部分部分布局*/
.cloth .box .square .img img {
    margin-top: 54px;
}
.cloth .box .square .title1 {
    margin-top: 50px;
    font-size: 14px;
}
.cloth .box .square .title2 {
    margin-top: 10px;
    font-size: 12px;
}

.cloth .box .square .price {
    color: #E64D4F;
    font-size: 14px;
}
/* 享9折 */
.cloth .box .square .discount {
    width: 50px;
    height: 20px;
    display: block;
    width: 50px;
    height: 22px;
    background-color: #E64D4F;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: -280px;
    left: 90px;
    margin-top: 20px;
}
/* 按钮 */
.cloth .box .btn {
    position: relative;
    text-align: center;
}
.cloth .box .btn a {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #EAEAEA;
    position: absolute;
    line-height: 40px;
    border-radius: 50%;
    color: #999999;
    font-weight: bold;
    
}
.cloth .box .btn .lt {
    top: 145px;
    left: -55px;
}
.cloth .box .btn .gt {
    top: 145px;
    right: 75px;
}
/* 详情下 */
.below {
    width: 1200px;
    height: 1604px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin-top: 20px;
}
.below .left {
    width: 910px;
    height: 100%;
    /* border: 1px solid #000; */
    background-color: #fff;
    float: left;
}
.below .left .t {
    width: 100%;
    height: 50px;
    /* border: 1px solid #000; */
    line-height: 50px;
    color:#999;
}
/* 商品详情 */
.below .left .t .head {
    margin-left: 20px;
}
/* 商品评价 */
.below .left .t .div {
    display: block;
    width: 173px;
    height: 50px;
    /* border: 1px solid #000; */
    position: relative;
    top: -50px;
    left: 735px;
    line-height: 50px;
    text-align: center;
}
.below .left .t .div img {
    position: absolute;
    top: 17px;
    left: 10px;
}
.below .left .t .div span {
    font-size: 14px;
}
.below .left .t .div span:last-child {
    color: #DC5245;
    font-weight: bold;
}
/* 文字说明 */
.below .left .content {
    width: 910px;
    height: 151px;
    /* border: 1px solid #000; */
    font-size: 14px;
    position: relative;
    top: 0px;
    left: 0px;
}
.below .left .content .cont {
    width: 910px;
    height: 151px;
}
.below .left .content .cont .p1 {
    width: 910px;
    height: 43px;
    position: absolute;
    top: 15px;
    /* border: 1px solid red; */
}
.below .left .content .cont .p2 {
    width: 910px;
    height: 43px;
    position: absolute;
    top: 60px;
    left: 0px;
    /* border: 1px solid red; */
}
.below .left .content .cont .p3 {
    width: 910px;
    height: 43px;
    position: absolute;
    top: 105px;
    /* border: 1px solid red; */
}
.below .left .content .cont .box1,.box2,.box3 {
    width: 260px;
    height: 43px;
    border-bottom: 1px solid #F2F2F2;
    line-height: 43px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    top: 13px;
}
.below .left .content .cont .len,.sty,.det {
    font-size: 14px;
    color: #999;
}
.below .left .content .cont .len1,.sty1,.det1 {
    font-size: 14px;
    color: #666;
    position: relative;
    left: 65px;
}
.below .left .content .cont .sty2 {
    font-size: 14px;
    color: #666;
    position: relative;
    left: 77px;
}
.below .left .content .cont .len2 {
    font-size: 14px;
    color: #666;
    position: relative;
    left: 50px;
}
.below .left .content .cont .len3 {
    font-size: 14px;
    color: #666;
    position: relative;
    left: 65px;
}
/* 图片 */
.below .left .content .imgs {
    width: 100%;
    height: 1381px;
    /* border: 1px solid red; */
    margin-top: 20px;
}
.below .left .content .imgs li {
    width: 873px;
    height: 430px;
    background-color: #E4E4E4;
    text-align: center;
    line-height: 430px;
    margin: 0px 0px 30px 16px;
}
/* 侧边栏 */
.below .right {
    width: 270px;
    height: 2240px;
    /* border: 1px solid red; */
    float: right;
}
.below .right .t {
    width: 100%;
    height: 50px;
    border: 1px solid #E4E4E4;
    line-height: 50px;
    color:#999;
    line-height: 50px;
    text-align: center;
}
.below .right .box {
    width: 270px;
    height: 1310px;
    border: 1px solid #E4E4E4;

}
.below .right .box .square {
    width: 228px;
    height: 300px;
    float: left;
    margin-right: 15px;
    text-align: center;
    color: #656565;
    text-align: center;
    border: 1px solid #F2F2F2;
    background-color: #fff;
    margin: 20px 22px 0px 18px;
}
.below .right .box .square:last-child {
    margin-right: 0px;
}
/* square 里面第二部分部分布局*/
.below .right .box .square .img img {
    margin-top: 54px;
}
.below .right .box .square .title1 {
    margin-top: 50px;
    font-size: 14px;
}
.below .right .box .square .title2 {
    margin-top: 10px;
    font-size: 12px;
}
.below .right .box .square .price {
    color: #E64D4F;
    font-size: 14px;
}
/* 享9折 */
.below .right .box .square .discount {
    width: 50px;
    height: 20px;
    display: block;
    width: 50px;
    height: 22px;
    background-color: #E64D4F;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: -280px;
    left: 90px;
    margin-top: 20px;
}
/* 专题推荐 */
.below .right .reco {
    width: 270px;
    height: 750px;
    border: 1px solid #F2F2F2;
    background-color: #fff;
    /* border: 1px solid #000; */
}
.below .right .reco .t1 {
    width: 100%;
    height: 50px;
    border: 1px solid #E4E4E4;
    line-height: 50px;
    color:#999;
    line-height: 50px;
    text-align: center;
    margin-top: 22px;
}
.below .right .reco .box {
    width: 270px;
    height: 164px;
    /* border: 1px solid #F2F2F2; */
    /* border: 1px solid #000; */
}
.below .right .reco .box .square {
    width: 228px;
    height: 102px;
    float: left;
    text-align: center;
    color: #656565;
    text-align: center;
    /* border: 1px solid #F2F2F2; */
    background-color: #E4E4E4;
    margin: 20px 22px 0px 18px;
    box-sizing: border-box;
}
.below .right .reco .box .square img {
    margin-top: 17px;
}
/* 新提案 */
.below .right .reco .box .spring {
    width: 228px;
    height: 30px;
    background-color: #999;
    margin-top: 121px;
    margin-left: 18px;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    padding-left: 18px;
    box-sizing: border-box;
}
/* 注意事项 */
.look {
    width: 910px;
    height: 500px;
    /* border: 1px solid #000; */
    margin-left: 75px;
    background-color: #fff;
    color: #999;
    font-size: 14px;
}
.look  .t {
    width: 100%;
    height: 50px;
    border: 1px solid #F2F2F2;
    line-height: 50px;
    color:#999;
}
/* 商品详情 */
.look .t .head {
    margin-left: 20px;
}
.look .content1 .box1 {
    width: 910px;
    height: 86px;
    /* border: 1px solid #000; */
    display: table-cell;
    vertical-align: middle;
    padding-left: 12px;
    box-sizing: border-box;
}
/* 运费 */
.look .content1 .box1 .freight {
    font-family: ' bold';
    font-weight: 700;
}
/* 快递 */
.look .content1 .box2 {
    width: 910px;
    height: 112px;
    /* border: 1px solid #000; */
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 0px;
    line-height: 24px;
    padding: 10px 0px 0px 12px;
}
.look .content1 .box2 .express {
    font-family: 'bold';
    font-weight: 700;
}
.look .content1 .box3 {
    width: 910px;
    height: 237px;
    /* border: 1px solid #000; */
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 0px;
    line-height: 24px;
    padding: 10px 0px 0px 12px;
}
.look .content1 .box3 .goods {
    font-family: 'bold';
    font-weight: 700;
}
/* footer top */
.top {
    width: 1400px;
    height: 244px;
    margin: 0 auto;
    border-top: 1px solid #EDEDED;
    margin-top: 50px;
    color: #989898;
    text-align: center;
    position: relative;
    left: 0px;
}
.top .square {
    width: 300px;
    height: 100%;
    border-right: 1px solid #EDEDED;
    float: left;
    box-sizing: border-box;
}
/* 服务热线 */
.top .square:last-child {
    border-right: 0px solid #EDEDED;
    margin-top: -85px;
}
/* 客户服务 */
.top .square .title1 {
    margin-top: 50px;
}
.top .square .title2 {
    width: 100%;
    height: 84px;
    /* border-right: 1px solid #EDEDED; */
    margin-top: 26px;
}
.top .square .title2 div {
    width: 80px;
    height: 80px;
    border: 1px solid #EDEDED;
    float: left;
    font-size: 12px;
    text-align: center;
    margin-left: 66px;
    padding: 10px;
    box-sizing: border-box;
}
/* 关注我们 */
.top .square .title2 div:last-child {
    margin-left: 10px;
}
/* hover出现图片 */
/* .top .square .title2 div:last-child img:nth-child(2):hover {
    background-color: #1ABC9C;
} */
/* 下载APP */
.top .square .title2 .download {
    width: 100px;
    height: 100px;
    border: 1px solid #EDEDED;
    margin: -8px 0px 0px 25px;
}
.top .square .title2 .download img {
    width: 80px;
    height: 80px;
    margin: 0px;
}
/* 扫描查看 */
.top .square .title2 .scan {
    display: block;
    font-size: 12px;
    margin: 12px 50px 15px 154px;
    text-align: left;
}
.top .square .title2 button {
    display: block;
    width: 90px;
    height: 30px;
    font-size: 12px;
    border: 1px solid #EDEDED;
    background-color: #fff;
    margin: -9px 0px 0px 154px;
    color: #989898;
}
/* 服务热线 */
.top .square .title2 .tel {
    font-weight: bold;
    font-size: 18px;
    color: #696969;
}
.top .square .title2 .week,.money {
    font-size: 14px;
}
/* 版权 */
.bottom {
    width: 1400px;
    height: 300px;
    background-color: #333333;
    position: relative;
    left: 0px;
}
.bottom .promise {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #434343;
    color: #fff;
    font-size: 24px;
}
.bottom .promise .img1 {
  /* position: relative; */
  position: absolute;
  left: 110px;
  top: 16px;
}
.bottom .promise .img2 {
    /* position: relative; */
    position: absolute;
    left: 455px;
    top: 16px;
}
.bottom .promise .img3 {
    /* position: relative; */
    position: absolute;
    left: 784px;
    top: 16px;
}
/* 三十天无忧脱货等 */
.bottom .promise .three {
    position: absolute;
    left: 176px;
    top: 27px;
}
.bottom .about {
    color: #999;
    font-size: 13px;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.bottom .about p:last-child {
    margin-top: 25px;

}
/* 侧边栏 */
aside {
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size: 12px;
    color: #999;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    right: 10px;
    text-align: center;
}
aside .back {
    bottom: 190px;
}
aside .APP {
    bottom: 100px;
}
aside .service {
    bottom: 10px;
}












